nodered/.node-red/data/flows.json
[{"id":"5878e260.04cb9c","type":"tab","label":" Smart Tomada","disabled":false,"info":""},{"id":"1a910664.f749aa","type":"tab","label":"FR433MHZ-Light","disabled":false,"info":""},{"id":"68169bf7.7ccc54","type":"tab","label":"Json_MQTT","disabled":false,"info":""},{"id":"b1e7287a.6870b8","type":"tab","label":" Boot","disabled":false,"info":""},{"id":"b0b92433.d70e68","type":"tab","label":"Push (Interno)","disabled":false,"info":""},{"id":"c2f5996c.1328c8","type":"tab","label":"MQTT_SERVIDOR","disabled":false,"info":""},{"id":"1987b2.fe76484e","type":"tab","label":" 433MHZ_PERSIANA","disabled":false,"info":""},{"id":"ca9e1adb.bc6a58","type":"tab","label":" 433MHZ_Garagem","disabled":false,"info":""},{"id":"537ac06c.7221e","type":"tab","label":"433MHZ_Alarmes","disabled":false,"info":""},{"id":"e8b80ae9.697808","type":"tab","label":"Infrared AR","disabled":false,"info":""},{"id":"fa125156.f17d2","type":"tab","label":"Zigbee2Mqtt","disabled":true,"info":""},{"id":"da0d8189.8877","type":"tab","label":"Cena","disabled":false,"info":"Recebe o Comando da Cena e toma providencia em ativar"},{"id":"8890c82a.0dfa48","type":"tab","label":"FireBase","disabled":false,"info":""},{"id":"827f49e3.691098","type":"tab","label":"Tago.Io","disabled":true,"info":""},{"id":"161b75ee.b22baa","type":"tab","label":"Agrupamento","disabled":false,"info":"Resolve o agrupamento pela Lais"},{"id":"3f53997e.aba106","type":"tab","label":"Mash","disabled":false,"info":""},{"id":"b9b2fdf9.e90a2","type":"tab","label":"UDP","disabled":false,"info":""},{"id":"8b47545.6bac3a8","type":"mqtt-broker","z":"","name":"","broker":"mqttautodomo","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0c945b2.5c70f8","type":"mqtt-broker","z":"","name":"","broker":"201.30.92.199","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ee719ed.d612f8","type":"mqtt-broker","z":"","name":"GBridge","broker":"mqtt.gbridge.io","port":"8883","tls":"57c7b754.7b6058","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57c7b754.7b6058","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true},{"id":"e2f44265.69a06","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"autohome","tz":""},{"id":"8b50591a.fb7e18","type":"hikcamera-credentials","z":"","screen_name":"Camera1"},{"id":"8beeacd5.765bf","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"568a1485.52352c","type":"ui_group","z":"","name":"Default","tab":"8beeacd5.765bf","disp":true,"width":"6","collapse":false},{"id":"d0668766.7ad418","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d4f4598.3c4108","type":"mqtt-broker","z":"","name":"","broker":"192.168.10.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19342f51.a68f81","type":"firebase config","z":"","firebaseurl":"autodomo-73076","loginType":"none"},{"id":"9643ad35.7a3b4","type":"firebase admin","z":"","name":"AutoDomoDB"},{"id":"63ba13ce.aff614","type":"Hikvision-config","z":"","host":"192.168.10.200","port":"80","name":"Camera1","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"2","deviceinfo":"[object Object]"},{"id":"ed9e6cbc.e10e7","type":"mqtt-broker","z":"","name":"TAGO","broker":"mqtt.tago.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62219c7b.0d2294","type":"mqtt out","z":"5878e260.04cb9c","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":930,"y":160,"wires":[]},{"id":"e847c031.8e23b","type":"function","z":"5878e260.04cb9c","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\nvar carga;\nconst fimCarga =  msg.fimCarga;\n\nif (!msg.payload) {\n  //no results\n} else {\n    \n    if(fimCarga == \"ON\" || fimCarga == \"OF\"){\n        if (fimCarga == \"ON\")\n        {\n           for(let i =0; i<keys.length;i++)\n            {\n        \n              carga = \"1\";\n              if (msg.payload[i].estado == \"1\") carga = \"1\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n             // outputMsgs.push();\n        \n            }\n           return [outputMsgs];\n        }\n        if (fimCarga == \"OF\")\n        {\n           for(let i =0; i<keys.length;i++) \n            {\n        \n              carga = \"0\";\n              if (msg.payload[i].estado == \"0\") carga = \"0\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n              // outputMsgs.push({payload:\"1\"});\n        \n            }\n           return [outputMsgs];\n        }\n    \n        \n    }else{\n        if (msg.payload[0].carga == \"1\")\n        {\n           for(let i =0; i<keys.length;i++)\n            {\n        \n              carga = \"0\";\n              if (msg.payload[i].estado == \"1\") carga = \"1\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n             // outputMsgs.push();\n        \n            }\n           return [outputMsgs];\n        }\n        if (msg.payload[0].carga == \"0\")\n        {\n           for(let i =0; i<keys.length;i++) \n            {\n        \n              carga = \"1\";\n              if (msg.payload[i].estado == \"0\") carga = \"0\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n              // outputMsgs.push({payload:\"1\"});\n        \n            }\n           return [outputMsgs];\n        }\n    }\n\n        msg.topic =  \"/house/lixo\";\n        msg.payload =  \"1\";\n        return msg;\n\n}","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["62219c7b.0d2294"]]},{"id":"ba662660.461818","type":"mysql","z":"5878e260.04cb9c","mydb":"e2f44265.69a06","name":"AutoDomum","x":510,"y":160,"wires":[["e847c031.8e23b"]]},{"id":"2f5d1afb.ca4e06","type":"function","z":"5878e260.04cb9c","name":"Select RX433mhz","func":"const carga = msg.payload.trim();\n\nconst fimCarga = carga.substr(-2);\n\n\nif(fimCarga == \"ON\" || fimCarga == \"OF\"){\n    const d = new Date();\n    const time_click = d.getTime();\n    const cargaCorrigida = carga.substr(0, carga.length -2);\n    msg.fimCarga = fimCarga;\n    msg.cargaCorrigida = cargaCorrigida;\n    msg.topic = \"SELECT id, codigo, habilitado, carga, topico, descricao, estado, carga_provavel FROM `rx433mhz` WHERE habilitado = 1 and codigo = '\" + cargaCorrigida + \"' and ('\" + time_click + \"' - data_ms > 50) ORDER BY data_ms DESC\";\nreturn msg; \n}else{\n    const d = new Date();\n    const time_click = d.getTime();\n    msg.fimCarga = \"\";\n    msg.topic = \"SELECT id, codigo, habilitado, carga, topico, descricao, estado, carga_provavel FROM `rx433mhz` WHERE habilitado = 1 and codigo = '\" + carga + \"' and ('\" + time_click + \"' - data_ms > 50) ORDER BY data_ms DESC\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["ba662660.461818","d8be48c0.6e4728"]]},{"id":"bcdb3742.577a88","type":"mqtt in","z":"1a910664.f749aa","name":"RX433MHZ","topic":"/house/rx433mhz/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":110,"y":80,"wires":[["88ca4dd4.9f9ee"]]},{"id":"88ca4dd4.9f9ee","type":"function","z":"1a910664.f749aa","name":"Select RX433mhz","func":"const carga = msg.payload.trim();\n// const fimCarga = carga.substring(2);\n// msg.fimCarga = fimCarga;\n\nvar d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT id, codigo, habilitado, carga, topico, descricao, estado, carga_provavel FROM `rx433mhz` WHERE habilitado = 1 and codigo = '\" + carga + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":174,"y":194,"wires":[["2c752ef1.87bd02"]]},{"id":"1c651851.cc8cb8","type":"function","z":"1a910664.f749aa","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\nvar carga=\"\";\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\nif (msg.payload[0].carga == \"1\")\n{\n\n //  msg.topic =  msg.payload[0].topico;\n //  msg.payload =  \"0\";\n   for(var i =0; i<keys.length;i++)\n    {\n\n      carga = \"0\";\n      if (msg.payload[i].estado == \"1\") {carga = \"1\"}\n       outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n     // outputMsgs.push();\n\n    }\n   return [outputMsgs];\n //  return msg;\n}\nif (msg.payload[0].carga == \"0\")\n{\n//   msg.topic =  msg.payload[0].topico;\n//   msg.payload =  \"1\";\n\n   for(var i =0; i<keys.length;i++) \n    {\n\n      carga = \"1\";\n      if (msg.payload[i].estado == \"0\") {carga = \"0\"}\n      \n      \n       outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n      // outputMsgs.push({payload:\"1\"});\n\n    }\n   return [outputMsgs];\n//   return msg;\n}\n \nmsg.topic =  \"/house/lixo\";\nmsg.payload =  \"1\";\nreturn msg;\n\n}","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["484a05ba.81eacc","2f5bdc6a.ea1d14"]]},{"id":"484a05ba.81eacc","type":"mqtt out","z":"1a910664.f749aa","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":770,"y":200,"wires":[]},{"id":"2c752ef1.87bd02","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"AutoDomum","x":390,"y":200,"wires":[["1c651851.cc8cb8"]]},{"id":"20fe288a.616578","type":"mqtt in","z":"1a910664.f749aa","name":"Confirma Iluminação","topic":"/house/confirma/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":170,"y":300,"wires":[["6b56e0d0.506b1"]]},{"id":"6b56e0d0.506b1","type":"function","z":"1a910664.f749aa","name":"Update RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\n\nif (!msg.payload) {\n  //no results\n} else {\nif (msg.payload == \"On\")\n{\n   msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"' and `carga` = '0';  SELECT id, codigo, carga, topico, descricao FROM `rx433mhz` WHERE topico_confirma = '\" + msg.topic +  \"' and (\" + time_click + \" - data_ms < 1000);\";\n //  msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"'\";\n   return msg;\n}\nif (msg.payload == \"Off\")\n{\n\tmsg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '0', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"' and `carga` = '1'; SELECT id, codigo, carga, topico, descricao FROM `rx433mhz` WHERE topico_confirma = '\" + msg.topic +  \"' and (\" + time_click + \" - data_ms < 1000);\";\n // msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '0', data_ms = \"+ time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"'\";\n   return msg;\n}\nmsg.topic =  \"SELECT now()\";\nreturn msg;\n\n}\n","outputs":1,"noerr":0,"x":403,"y":302,"wires":[["7ea0299.7df41d8"]]},{"id":"7ea0299.7df41d8","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"autohome","x":640,"y":300,"wires":[["a126199b.947508"]]},{"id":"a126199b.947508","type":"function","z":"1a910664.f749aa","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\n\nif (msg.payload[0].changedRows == 1) \n{\n    msg.topic = \"SELECT alerta.id, habilitar, carga, descricao, data_ms FROM `alerta`, `rx433mhz` where tipo_alerta = 'iluminacao' and quantidade_dia > 0 and ((TIME_TO_SEC(TIMEDIFF(now(), data_ultima_alerta))/60) > tempo_entre) and ( '\" + time_click + \"' - data_ms < 1000) order by data_ms DESC\";\n   // msg.payload = \"A Iluminação foi Acionada\";\n    return msg\n}else\n{\n    return;\n}\n\nreturn\n","outputs":1,"noerr":0,"x":162,"y":406,"wires":[["e3ef7a8a.627608"]]},{"id":"e3ef7a8a.627608","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"autohome","x":367,"y":406,"wires":[["9407b8f1.1fbf28","fac430d0.7f108"]]},{"id":"fac430d0.7f108","type":"function","z":"1a910664.f749aa","name":"Atualizar Historico","func":"if (msg.payload[0].habilitar == 1) \n{\n    if (msg.payload[0].carga == \"1\") \n    {\n    var mensagem = \"A \" + msg.payload[0].descricao + \" foi Ligada\";\n    msg.topic = \"INSERT INTO `autohome`.`historico_alerta` (`int`, `tipo_alerta`, `data_alerta`) VALUES (NULL, '\" + mensagem + \"', now());\";\n    return msg\n    }\n    else if (msg.payload[0].carga == \"0\") \n    {\n   var mensagem = \"A \" + msg.payload[0].descricao + \" foi Desligada\";\n    msg.topic = \"INSERT INTO `autohome`.`historico_alerta` (`int`, `tipo_alerta`, `data_alerta`) VALUES (NULL, '\" + mensagem + \"', now());\";\n    return msg\n    }\n}else\n{\n    return;\n}","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["b0966264.6676a"]]},{"id":"9407b8f1.1fbf28","type":"function","z":"1a910664.f749aa","name":"Update Alarme","func":"if (!msg.payload) {\n  return;\n} else {\nmsg.topic = \"UPDATE `autohome`.`alerta` SET `data_ultima_alerta` = now(), Quantidade_dia = (Quantidade_dia -1)  WHERE `alerta`.`id` = '\" +  msg.payload[0].id + \"'\";\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["b0966264.6676a"]]},{"id":"b0966264.6676a","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"autohome","x":860,"y":400,"wires":[[]]},{"id":"25726fbf.9e37b","type":"mqtt in","z":"68169bf7.7ccc54","name":"MQTT GERAL","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":260,"y":160,"wires":[["6458654e.4497bc"]]},{"id":"6458654e.4497bc","type":"function","z":"68169bf7.7ccc54","name":"Update Push Violação","func":"msg.url = \"http://supervisorio/topico_mqtt.php?valor=\" + msg.payload + \"&topico=\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":541.5,"y":159.11666870117188,"wires":[["44c2140c.8bbacc"]]},{"id":"44c2140c.8bbacc","type":"http request","z":"68169bf7.7ccc54","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":805.5,"y":157.11666870117188,"wires":[[]]},{"id":"f8b35bcb.92b198","type":"function","z":"b1e7287a.6870b8","name":"Insert Sensoriamento","func":"var d = new Date();\nvar time_click = d.getTime();\n\nif (!msg.payload) \n{\n        return\n}else\n{\nglobal.set(\"chavedispositivo\",msg.payload[0].chavedispositivo);\nglobal.set(\"chavelocal\",msg.payload[0].chavelocal);\nglobal.set(\"pin\",msg.payload[0].pin);\nglobal.set(\"usu_bb\",msg.payload[0].usu_bb);\nglobal.set(\"se_bb\",msg.payload[0].se_bb);\nglobal.set(\"user_gbridge\",msg.payload[0].user_gbridge);\n\n    return\n}\n\nreturn\n","outputs":1,"noerr":0,"x":698,"y":85,"wires":[[]]},{"id":"eb5e08a5.f259f8","type":"inject","z":"b1e7287a.6870b8","name":"TIME_HASH","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"60","x":125,"y":85,"wires":[["4145dcef.734374"]]},{"id":"4145dcef.734374","type":"function","z":"b1e7287a.6870b8","name":"Update_ChaveLocal","func":"msg.topic = 'SELECT * FROM `servidor` WHERE 1';\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":85,"wires":[["4722f7db.2bca18"]]},{"id":"4722f7db.2bca18","type":"mysql","z":"b1e7287a.6870b8","mydb":"e2f44265.69a06","name":"autohome","x":515,"y":85,"wires":[["f8b35bcb.92b198"]]},{"id":"6320b49a.75263c","type":"mqtt in","z":"c2f5996c.1328c8","name":"AutoDomum Servidor","topic":"/servidor/comando/geral2","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":260,"y":180,"wires":[["88914aad.6eaa58","e9039d1a.0f089"]]},{"id":"e9039d1a.0f089","type":"function","z":"c2f5996c.1328c8","name":"Hash","func":"\nvar d = new Date();\nvar topico = msg.topic;\nvar time_click = d.getTime();\nvar diferenca_timestamp = global.get(\"diferenca_timestamp\");\nvar numeroserial =  global.get(\"pin\");\nvar timestamp = (time_click * 10) + diferenca_timestamp;\nvar payload = msg.payload.trim();\nvar chavelocal = global.get(\"chavelocal\");\n\ntraco_1 = payload.indexOf(\"-\" , 1); \ntraco_2 = payload.indexOf(\"-\" , traco_1+1); \ntraco_3 = payload.indexOf(\"-\" , traco_2+1);\n\ntopico_local =  payload.substring(0, traco_1); \ntimestamp_servidor = payload.substring(traco_3 + 1);\n\nmsg.payload =  numeroserial + \"\" + timestamp_servidor + \"\" +  topico_local + \"\" + chavelocal  + \"salgadinhodevolta\";\nmsg.valores = payload;\nmsg.timestamp =  timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["c54e109f.15aa5"]]},{"id":"c54e109f.15aa5","type":"md5","z":"c2f5996c.1328c8","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":630,"y":180,"wires":[["ee9b4785.bf1cd8"]]},{"id":"ee9b4785.bf1cd8","type":"function","z":"c2f5996c.1328c8","name":"Executando_Comando","func":"\nvar d = new Date();\nvar valores = msg.valores;\nvar timestamp = msg.timestamp;\nvar md5 = msg.md5;\nvar topico;\nvar hash_servidor;\nvar timestamp_servidor;\nvar comando;\n\n///house/iluminacao/0112253652-2-08a4415e9d594ff960030b921d42b91e-23456789076\nvar traco_1;\nvar traco_2;\nvar traco_3;\n\n\ntraco_1 = valores.indexOf(\"-\" , 1); \ntraco_2 = valores.indexOf(\"-\" , traco_1+1); \ntraco_3 = valores.indexOf(\"-\" , traco_2+1); \n\ntopico =  valores.substring(0, traco_1); \ncomando = valores.substring(traco_1 + 1 , traco_2); \nhash_servidor = valores.substring(traco_2 + 1 , traco_3); \ntimestamp_servidor = valores.substring(traco_3 + 1); \n\nif (timestamp_servidor > timestamp) \n{\n\tdiferenca_timestamp = (timestamp_servidor - timestamp);\n}\nelse \n{\n\tdiferenca_timestamp = (timestamp - timestamp_servidor);\n}\n\nif ( (md5 == hash_servidor) && (diferenca_timestamp <= 10000000))\n\t{\n\tmsg.topic = topico;\n\tmsg.payload = comando;\n\treturn msg;\n\t}\n\n//msg.saida = topico + \"-\" + comando + \"-\" + hash_servidor + \"-\" + timestamp_servidor;\n\n//msg.saida = md5 + \"-\" + hash_servidor;\n","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["c2f96489.c837a8","68a7f887.7ccc98"]]},{"id":"68a7f887.7ccc98","type":"mqtt out","z":"c2f5996c.1328c8","name":"","topic":"","qos":"0","retain":"true","broker":"8b47545.6bac3a8","x":1110,"y":240,"wires":[]},{"id":"c2f96489.c837a8","type":"debug","z":"c2f5996c.1328c8","name":"","active":true,"tosidebar":true,"console":false,"complete":"topic","x":1100,"y":120,"wires":[]},{"id":"cdbc093d.099588","type":"mqtt in","z":"161b75ee.b22baa","name":"Agrupado","topic":"/house/agrupamento/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":80,"y":140,"wires":[["fc5d7e41.b67f4","c2de4969.75b208"]]},{"id":"fc5d7e41.b67f4","type":"function","z":"161b75ee.b22baa","name":"Select Agrupado","func":"if (!msg.payload) {\n  //no results\n} else {\nvar topico = msg.topic;\nvar codigo = topico.substring(19);\nvar carga = msg.payload;\nmsg.carga = carga;\nmsg.codigo_confirma = \"/house/confirma/\" + codigo;\n msg.topic =  \"SELECT widget.username_iphone, widget.setPubTopic0 FROM `associar_widget`, widget WHERE REPLACE (associar_widget.pin_dispositivo, ':', '')  = '\" + codigo +\"' AND widget.id = associar_widget.id_widget2\";\n return msg;\n\n}","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["12417433.3bc29c"]]},{"id":"a17d9ef.6cced6","type":"mqtt out","z":"161b75ee.b22baa","name":"","topic":"","qos":"","retain":"false","broker":"8b47545.6bac3a8","x":990,"y":140,"wires":[]},{"id":"12417433.3bc29c","type":"mysql","z":"161b75ee.b22baa","mydb":"e2f44265.69a06","name":"autohome","x":480,"y":140,"wires":[["77a302e0.73a34c"]]},{"id":"77a302e0.73a34c","type":"function","z":"161b75ee.b22baa","name":"Publicar multiplus Comandos","func":"var outputMsgs = [];\nvar keys = Object.keys(msg.payload);\nvar carga_confirma;\n\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n   for(var i =0; i<keys.length;i++)\n    {\n        \n               outputMsgs.push({payload:msg.carga,topic:msg.payload[keys[i]].setPubTopic0});\n\n    }\n    if (msg.carga == '0')\n    {\n        carga_confirma = 'Off';\n    }else\n    {\n        carga_confirma = 'On'\n    }\n    \n    outputMsgs.push({payload:carga_confirma,topic:msg.codigo_confirma});\n   return [outputMsgs];\n   \n}","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["a17d9ef.6cced6"]]},{"id":"d570e3ed.02bed","type":"mqtt in","z":"1987b2.fe76484e","name":"RX433MHZ_PERSIANA","topic":"/house/rx433mhz/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":210,"y":140,"wires":[["638c1ec2.5eabe"]]},{"id":"638c1ec2.5eabe","type":"function","z":"1987b2.fe76484e","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT * FROM `rx433mhz_persiana` WHERE habilitado = 1 and codigo = '\" + msg.payload.trim() + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["e6617ca1.55545"]]},{"id":"e6617ca1.55545","type":"mysql","z":"1987b2.fe76484e","mydb":"e2f44265.69a06","name":"AutoDomum","x":670,"y":140,"wires":[["90a2222b.0d62e"]]},{"id":"90a2222b.0d62e","type":"function","z":"1987b2.fe76484e","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n\n\n   for(var i =0; i<keys.length;i++)\n    {\n\n       outputMsgs.push({payload:msg.payload[keys[i]].carga,topic:msg.payload[keys[i]].topico});\n\n\n    }\n   return [outputMsgs];\n\n \n\n\n}","outputs":1,"noerr":0,"x":870,"y":140,"wires":[["43718a6c.226db4","21f073e5.25743c"]]},{"id":"43718a6c.226db4","type":"mqtt out","z":"1987b2.fe76484e","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":1050,"y":80,"wires":[]},{"id":"21f073e5.25743c","type":"debug","z":"1987b2.fe76484e","name":"","active":true,"console":"false","complete":"false","x":1050,"y":200,"wires":[]},{"id":"ee422125.c770c","type":"mqtt in","z":"5878e260.04cb9c","name":"SmartInterruptor","topic":"/house/smartinterruptor/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":80,"y":160,"wires":[["2f5d1afb.ca4e06"]]},{"id":"38304b7d.6c37c4","type":"mqtt in","z":"ca9e1adb.bc6a58","name":"RX433MHZ_GARAGEM","topic":"/house/rx433mhz/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":121,"y":29,"wires":[["8d3e66ab.bc3888"]]},{"id":"a937befe.e2476","type":"function","z":"ca9e1adb.bc6a58","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT * FROM `rx433mhz_garage` WHERE habilitado = 1 and codigo = '\" + msg.payload.trim() + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":29,"wires":[["51224b80.facb04"]]},{"id":"51224b80.facb04","type":"mysql","z":"ca9e1adb.bc6a58","mydb":"e2f44265.69a06","name":"AutoDomum","x":685,"y":29,"wires":[["64119138.a41f2"]]},{"id":"64119138.a41f2","type":"function","z":"ca9e1adb.bc6a58","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n\n\n   for(var i =0; i<keys.length;i++)\n    {\n\n       outputMsgs.push({payload:msg.payload[keys[i]].carga,topic:msg.payload[keys[i]].topico});\n\n\n    }\n   return [outputMsgs];\n\n \n\n\n}","outputs":1,"noerr":0,"x":139,"y":199,"wires":[["57cd92c6.a4d85c","8f572379.871bd"]]},{"id":"57cd92c6.a4d85c","type":"mqtt out","z":"ca9e1adb.bc6a58","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":360,"y":146,"wires":[]},{"id":"8f572379.871bd","type":"debug","z":"ca9e1adb.bc6a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":371,"y":238,"wires":[]},{"id":"8d3e66ab.bc3888","type":"delay","z":"ca9e1adb.bc6a58","name":"2men/seg","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":319,"y":29,"wires":[["a937befe.e2476"]]},{"id":"bf597b7a.a125f8","type":"mqtt in","z":"e8b80ae9.697808","name":"","topic":"/house/ifredarc/#","qos":"2","broker":"8b47545.6bac3a8","x":80,"y":60,"wires":[["2fbc9c3c.877544"]]},{"id":"2fbc9c3c.877544","type":"function","z":"e8b80ae9.697808","name":"Separa_Comandos","func":"var tipo_protocolo;\nvar numerodebits;\nvar codigo_infravermelho;\nvar topico = msg.topic;\nvar carga = msg.payload;\nmsg.cargaantiga = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1); \nvar retorno = carga.split(\"!\");\nmsg.topic = \"/house/ifredar/\" + codigo;\ntipo_protocolo = retorno[0];\nnumerodebits = retorno[1];\ncodigo_infravermelho = retorno[2];\ntemperatura = codigo_infravermelho.substring(1);\n\nif (tipo_protocolo == \"XX\")\n{\n    \n\tmsg.topic = \"SELECT controle_ir.codigo, equipamento_infrared.numerobit, equipamento_infrared.tipoprotocolo, equipamento_infrared.repeticao FROM `controle_ir`, widget, equipamento_infrared WHERE  (REPLACE (widget.username_iphone, ':', '')) = '\" + codigo + \"' AND equipamento_infrared.id = widget.setPrimaryColor3 AND controle_ir.dispositivo = widget.setPrimaryColor3 AND (controle_ir.comando = '\" + codigo_infravermelho + \"'  OR controle_ir.comando = 'T\" + temperatura  + \"' ) ORDER BY controle_ir.id DESC LIMIT 1\";\n    msg.topico = \"/house/ifredar/\" + codigo;\n    msg.codigo_infravermelho = codigo_infravermelho;\n    return [ msg,  null, null ];\n}\nelse if (tipo_protocolo == \"00\")\n{\n   // msg.payload = carga + \"#\";\n   msg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-0-\" + codigo_infravermelho + \"#\";\n    return [ null,  msg, null ];\n}\nelse\n{\n   // msg.payload = carga + \"#\";\n   msg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-0-\" + codigo_infravermelho + \"#\";\n    return [ null,  null, msg ];\n}\n","outputs":3,"noerr":0,"x":270,"y":60,"wires":[["951c7b9a.612088"],["765bd5ce.069a0c"],["765bd5ce.069a0c"]]},{"id":"765bd5ce.069a0c","type":"mqtt out","z":"e8b80ae9.697808","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":796,"y":29,"wires":[]},{"id":"951c7b9a.612088","type":"mysql","z":"e8b80ae9.697808","mydb":"e2f44265.69a06","name":"autohome","x":466,"y":29,"wires":[["7fe6bc89.04bfc4"]]},{"id":"7fe6bc89.04bfc4","type":"function","z":"e8b80ae9.697808","name":"Func3. Notificacao","func":"var keys = Object.keys(msg.payload);\nvar codigo_infravermelho_original = msg.codigo_infravermelho; \nmsg.topic = msg.topico;\nif (!msg.payload) {\n\n} else {\n\tif( keys.length === 0)\n\t{\n\t\tmsg.payload = \"00\" + \"-\" + \"XXX\"  + \"-0-\" + codigo_infravermelho_original + \"#\";\n\t\treturn msg;\n\t}\n\telse\n\t{\n\t\tvar tipo_protocolo = msg.payload[0].tipoprotocolo;\n\t\tvar numerodebits = msg.payload[0].numerobit;\n\t\tvar codigo_infravermelho = msg.payload[0].codigo;\n\t\tvar repeticao = msg.payload[0].repeticao;\n\t\tmsg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-\" + repeticao + \"-\"+ codigo_infravermelho + \"#\";\n\t}\nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":636,"y":29,"wires":[["765bd5ce.069a0c"]]},{"id":"88914aad.6eaa58","type":"debug","z":"c2f5996c.1328c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":320,"wires":[]},{"id":"7bce0519.f7433c","type":"mqtt in","z":"e8b80ae9.697808","name":"","topic":"/house/ifredtvc/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":80,"y":140,"wires":[["84f7a2ef.cc323"]]},{"id":"84f7a2ef.cc323","type":"function","z":"e8b80ae9.697808","name":"Separa_Comandos","func":"var carga = JSON.parse(msg.payload);\n\n\ncommand = carga.command.toString();\ndevice = carga.device.toString();\npayload = carga.payload.toString();\n\nif (command == \"CH\") command = \"CH\" + payload;\n\nconst topic = \"SELECT equipamento_infrared.Descricao, numerobit, tipoprotocolo, repeticao, comando, codigo FROM `equipamento_infrared`, controle_ir WHERE Marca = '\" + device + \"' AND equipamento_infrared.id = controle_ir.dispositivo AND controle_ir.comando = '\" + command +\"'\";\n\nmsg.topic = topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["7aa84ca7.fc8844"]]},{"id":"ade462a6.0d917","type":"mqtt out","z":"e8b80ae9.697808","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":850,"y":140,"wires":[]},{"id":"7aa84ca7.fc8844","type":"mysql","z":"e8b80ae9.697808","mydb":"e2f44265.69a06","name":"autohome","x":460,"y":140,"wires":[["d82b401e.f5e","ca6eeacc.d40818"]]},{"id":"d82b401e.f5e","type":"function","z":"e8b80ae9.697808","name":"Func3. Notificacao","func":"var tipo_protocolo = msg.payload[0].tipoprotocolo;\nvar numerodebits = msg.payload[0].numerobit;\nvar codigo_infravermelho = msg.payload[0].codigo;\nconst Descricao = msg.payload[0].Descricao;\nconst repeticao = msg.payload[0].repeticao;\nmsg.topic = \"/house/ifredar/\" + Descricao;\nmsg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-\" + repeticao + \"-\"+ codigo_infravermelho;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["ade462a6.0d917"]]},{"id":"7202dba1.9109f4","type":"mqtt in","z":"537ac06c.7221e","name":"RX433MHZ_ALARMES","topic":"/house/rx433mhz/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":123,"y":32,"wires":[["ee229c25.ed3d8","a78dadf5.6c7b2"]]},{"id":"5b7bbbe3.496ee4","type":"function","z":"537ac06c.7221e","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT * FROM `rx433mhz_alarmes` WHERE habilitado = 1 and codigo = '\" + msg.payload.trim() + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":33,"wires":[["46d50ae0.122754"]]},{"id":"46d50ae0.122754","type":"mysql","z":"537ac06c.7221e","mydb":"e2f44265.69a06","name":"AutoDomum","x":679,"y":33,"wires":[["9ecfab07.235a48"]]},{"id":"9ecfab07.235a48","type":"function","z":"537ac06c.7221e","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n\n\n   for(var i =0; i<keys.length;i++)\n    {\n\n       outputMsgs.push({payload:msg.payload[keys[i]].carga,topic:msg.payload[keys[i]].topico});\n\n\n    }\n   return [outputMsgs];\n\n \n\n\n}","outputs":1,"noerr":0,"x":154,"y":180,"wires":[["9d8e6e8b.8bb88"]]},{"id":"ee229c25.ed3d8","type":"delay","z":"537ac06c.7221e","name":"2men/seg","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":308,"y":32,"wires":[["5b7bbbe3.496ee4"]]},{"id":"e171a6dc.4311b8","type":"mqtt in","z":"537ac06c.7221e","name":"Habilitar Alarme","topic":"/house/alarmes/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":103,"y":332,"wires":[["70621f.464e7de"]]},{"id":"70621f.464e7de","type":"function","z":"537ac06c.7221e","name":"Function Alarme","func":"var topico = msg.topic;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9);\nvar codigo_dispositivo = topico.substring(fim_sub_topico + 1); \n  \nif (codigo_dispositivo == \"210000000000\")\n{\n    if (msg.payload == \"1\" ||msg.payload == \"0\")\n    {\n    var msg2 = { topic: \"/house/confirma/210000000000\",  payload: msg.payload }; // Não utilizar esse codigo para outra coisa\n    msg.topic = \"UPDATE `rx433mhz_alarmes` SET `habilitado` = '\" + msg.payload +  \"' WHERE 1=1\";\n    return [ msg,  msg2];\n    }\n}else\n{\n    if (msg.payload == \"1\" ||msg.payload == \"0\")\n    {\n    var part_codigo_dispositivo = codigo_dispositivo.substring(4); \n    var topico_modificado = \"/house/confirma/21AB\" + part_codigo_dispositivo;\n    var topico_modificado2 = \"/house/alarme/\" + codigo_dispositivo;\n    var msg2 = { topic: topico_modificado ,  payload: msg.payload }; // Não utilizar esse codigo para outra coisa\n    msg.topic = \"UPDATE `rx433mhz_alarmes` SET `habilitado` = '\" + msg.payload +  \"' WHERE `rx433mhz_alarmes`.`topico` = '\" + topico_modificado2  + \"';\";\n    return [ msg,  msg2];\n    }\n    \n}\n","outputs":2,"noerr":0,"x":346,"y":331,"wires":[["d5c83669.bd3c18"],["85c402a1.72b47"]]},{"id":"d5c83669.bd3c18","type":"mysql","z":"537ac06c.7221e","mydb":"e2f44265.69a06","name":"AutoDomum","x":556,"y":312,"wires":[[]]},{"id":"85c402a1.72b47","type":"mqtt out","z":"537ac06c.7221e","name":"Mqtt Alarme","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":530,"y":380,"wires":[]},{"id":"c59606a2.64f188","type":"mqtt in","z":"da0d8189.8877","name":"","topic":"/house/cena/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":110,"y":80,"wires":[["f43df866.b38648"]]},{"id":"f43df866.b38648","type":"function","z":"da0d8189.8877","name":"Function Cena","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar codigo_dispositivo;\n\n\n//gBridge/u959/iluminacao/01AA00000015\n//gBridge/u959/d0/grequest\ntraco_1 = topico.indexOf(\"/\" , 0); \ntraco_2 = topico.indexOf(\"/\" , traco_1+1); \ntraco_3 = topico.indexOf(\"/\" , traco_2+1);\n\nsub_topico =  topico.substring(traco_2+1, traco_3); \ncodigo_dispositivo = topico.substring(traco_3 + 1);\n\n//msg.topico = sub_topico;\n//return msg;  \nif (carga == \"1\" || carga == \"1#\")\n{\n msg.topic = \"SELECT * FROM `cena` WHERE `cena`.`codigo_cena` = '\" + codigo_dispositivo + \"'\";\n return msg;   \n}","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["d9eff3d0.ae3c"]]},{"id":"d9eff3d0.ae3c","type":"mysql","z":"da0d8189.8877","mydb":"e2f44265.69a06","name":"autohome 1","x":450,"y":80,"wires":[["621dcea0.3d8a1"]]},{"id":"621dcea0.3d8a1","type":"function","z":"da0d8189.8877","name":"Function Cena","func":"var outputMsgs = [];\nvar keys = Object.keys(msg.payload);\n\nif (!msg.payload) {\n  //no results\n} else {\n\n   for(var i =0; i<keys.length;i++)\n    {\n        \n               outputMsgs.push({payload:msg.payload[keys[i]].acao_cena,topic:msg.payload[keys[i]].topico_atuar_cena});\n\n    }\n   \n   return [outputMsgs];\n   \n}","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["d450f4df.70d7e8"]]},{"id":"d450f4df.70d7e8","type":"mqtt out","z":"da0d8189.8877","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":830,"y":80,"wires":[]},{"id":"9d8e6e8b.8bb88","type":"mqtt out","z":"537ac06c.7221e","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":324,"y":178,"wires":[]},{"id":"7dae2834.475258","type":"mqtt in","z":"fa125156.f17d2","name":"Topico Zigbee","topic":"/housezigbee/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":75,"y":37,"wires":[["3d132aa0.8990e6"]]},{"id":"f5e69da.4e97e6","type":"function","z":"fa125156.f17d2","name":"Analise Topico 2","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar valorzigbee = msg.valorzigbee;\nvar outputMsgs = [];\nvar keys = Object.keys(msg.payload);\n\n\ntry {\nvar valorzigbee_json =  JSON.parse(valorzigbee);\n}\ncatch (e) {\nvalorzigbee_json =  {}; \n}\n\n\nvar valorzigbee_publicado = \"\";\nif (!msg.payload) \n\t{\n  //no results\n\t} \nelse \n\t{\n\t\t   for(var i =0; i<keys.length;i++)\n\t\t\t{\n\t\t\t  \n\t\t\t    // Para Sensor de Porta\n\t\t\t  if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].carga == 'contact') && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t  if ((valorzigbee_json.contact.toString() == \"true\") || (valorzigbee_json.contact.toString() == \"on\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"0\"; \n        \t\t\t  }\n        \t\t\t  \t\t\t  if ((valorzigbee_json.contact.toString() == \"false\") || (valorzigbee_json.contact.toString() == \"off\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"1\"; \n        \t\t\t  }\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  // Para Sensor de Movimento\n\t\t\t  else if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].carga == 'occupancy') && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t  if ((valorzigbee_json.occupancy.toString() == \"true\") || (valorzigbee_json.occupancy.toString() == \"on\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"1\"; \n        \t\t\t  }\n        \t\t\t  \t\t\t  if ((valorzigbee_json.occupancy.toString() == \"false\") || (valorzigbee_json.occupancy.toString() == \"off\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"0\"; \n        \t\t\t  }\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \t\t\t    // Para Sensor de Porta\n\t\t\t  else if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].carga == 'state')  && (msg.payload[keys[i]].modelo === \"\"))  // Para Lampadas Aqara\n\t\t\t  {\n        \t\t\t  if ((valorzigbee_json.state.toString() == \"true\") || (valorzigbee_json.state.toString().toLowerCase() == \"on\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"On\"; \n        \t\t\t  }\n        \t\t\t  \t\t\t  if ((valorzigbee_json.state.toString() == \"false\") || (valorzigbee_json.state.toString().toLowerCase() == \"off\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"Off\"; \n        \t\t\t  }\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \n\t\t\t  else if (valorzigbee_json.hasOwnProperty('click') && (msg.payload[keys[i]].carga == valorzigbee_json.click)   && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t  valorzigbee_publicado = msg.payload[keys[i]].acao; \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  else if (valorzigbee_json.hasOwnProperty('action') && (msg.payload[keys[i]].carga == valorzigbee_json.action)  && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t // valorzigbee_publicado = valorzigbee_json.action; \n        \t\t\t // outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n        \t\t\t valorzigbee_publicado = msg.payload[keys[i]].acao; \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  else if (valorzigbee_json.hasOwnProperty('state_top') && (msg.payload[keys[i]].carga == 'state_top')  && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n\t\t\t        const cargaTemp = valorzigbee_json.state_top;\n\t\t\t        \n                    if (cargaTemp == \"ON\"){\n                        valorzigbee_publicado = \"1\"; \n                    }else if (cargaTemp == \"OFF\"){\n                        valorzigbee_publicado = \"0\"; \n                    }\n        \t\t\t \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \t else if (valorzigbee_json.hasOwnProperty('state_bottom') && (msg.payload[keys[i]].carga == 'state_bottom')  && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n\t\t\t        const cargaTemp = valorzigbee_json.state_bottom;\n\t\t\t        \n                    if (cargaTemp == \"ON\"){\n                        valorzigbee_publicado = \"1\"; \n                    }else if (cargaTemp == \"OFF\"){\n                        valorzigbee_publicado = \"0\"; \n                    }\n        \t\t\t \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \telse if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n\t\t\t          const tipoSensor = msg.payload[keys[i]].carga;\n        \t\t\t  valorzigbee_publicado = valorzigbee_json[tipoSensor]; \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  else if(msg.payload[keys[i]].modelo !== \"\")\n\t\t\t  {\n\t\t\t      confirmaZigbee();\n\t\t\t  }\n\t\t\t  \n\t\t    }\n\t\t  return [outputMsgs];\n//\treturn msg\n\t}\n\n\t\t\tfunction confirmaZigbee(){\n\t    \n                     const tipoAcao = msg.payload[keys[i]].acao;\n                     \n        \t\t\t  if (valorzigbee_json.hasOwnProperty(tipoAcao))\n        \t\t\t  {\n        \t\t\t        if ((valorzigbee_json[tipoAcao].toString() == \"true\") || (valorzigbee_json[tipoAcao].toString().toLowerCase() == \"on\") )\n                    \t\t\t  {\n                    \t\t\t     valorzigbee_publicado = \"On\"; \n                    \t\t\t  }\n        \t\t\t  \t    else if ((valorzigbee_json[tipoAcao].toString() == \"false\") || (valorzigbee_json[tipoAcao].toString().toLowerCase() == \"off\") )\n                    \t\t\t  {\n                    \t\t\t     valorzigbee_publicado = \"Off\"; \n                    \t\t\t  }\n                    \t\t\t  \n                        const fim_sub_topico =  msg.payload[keys[i]].topico.indexOf(\"/\" , 9); \n                        codigo_dispositivo = msg.payload[keys[i]].topico.substring(fim_sub_topico + 1);\n                        const topic = \"/house/confirma/\" + codigo_dispositivo; //  \n        \t\t\t    outputMsgs.push({payload:valorzigbee_publicado,topic:topic}); \n        \t\t\t    \n        \t\t\t  }\n\t}\n\n\n ","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["639c751b.24adbc","9f42cf75.16072"]]},{"id":"3d132aa0.8990e6","type":"function","z":"fa125156.f17d2","name":"Analise Topico","func":"var topico = msg.topic;\nvar carga = msg.payload;\n\nif ((topico == '/housezigbee/bridge/log') || (topico == '/housezigbee/bridge/config'))\n{\n   return; \n}\n\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1); \nmsg.valorzigbee = carga;\nmsg.codigo = codigo;\nmsg.topic = \"SELECT * FROM `zigbeedevice` WHERE serialzigbee = '\" +  codigo +  \"'\";\n\n   return msg; \n\n","outputs":1,"noerr":0,"x":251,"y":36,"wires":[["d3cb0dc3.38e44"]]},{"id":"d3cb0dc3.38e44","type":"mysql","z":"fa125156.f17d2","mydb":"e2f44265.69a06","name":"autohome","x":425,"y":36,"wires":[["f5e69da.4e97e6"]]},{"id":"639c751b.24adbc","type":"mqtt out","z":"fa125156.f17d2","name":"Mqtt_zigbee","topic":"","qos":"0","retain":"true","broker":"8b47545.6bac3a8","x":890,"y":100,"wires":[]},{"id":"9384a648.1388a8","type":"mqtt in","z":"fa125156.f17d2","name":"MQTT GERAL","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":85,"y":157,"wires":[["44338169.1220b"]]},{"id":"44338169.1220b","type":"function","z":"fa125156.f17d2","name":"Analise Topico Atuador","func":"var topico = msg.topic;\nvar cargarecebida = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1); \nmsg.cargarecebida = cargarecebida;\nmsg.codigo = codigo;\nmsg.topic = \"SELECT * FROM `zigbeedevice` WHERE topico = '\" +  topico +  \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":157,"wires":[["40aa292e.fa2168"]]},{"id":"40aa292e.fa2168","type":"mysql","z":"fa125156.f17d2","mydb":"e2f44265.69a06","name":"autohome","x":470,"y":157,"wires":[["2206e64e.1c91ba","6f22c782.095be8"]]},{"id":"2206e64e.1c91ba","type":"function","z":"fa125156.f17d2","name":"Analise Topico 2","func":"var topico = msg.topic;\nvar carga = msg.payload;\nconst cargarecebida = msg.cargarecebida.trim();\nvar outputMsgs = [];\nvar keys = Object.keys(msg.payload);\nvar valorzigbee_publicado = \"\";\n\n\ntry {\nvar valorzigbee_json =  JSON.parse(cargarecebida);\n}\ncatch (e) {\nvalorzigbee_json =  {}; \n}\n\n\nif (!msg.payload) \n\t{\n  //no results\n\t} \nelse \n\t{\n\t\t   for(var i =0; i<keys.length;i++)\n\t\t\t{\n\t                if (msg.payload[keys[i]].modelo == 'ZNLDP12LM')\n\t\t            {\n\t\t\t  \n                        funcZNLDP12LM();\n\t\t\t  \t\t\t   \n\t\t\t        }\n\t\t\t         else if (msg.payload[keys[i]].modelo == 'ZW-EU-0')\n\t\t            {\n\t\t\t  \n                        funcZWEU02();\n\t\t\t  \t\t\t   \n\t\t\t        }\n\t\t\t        else if (msg.payload[keys[i]].modelo == 'ADomoZig')\n\t\t            {\n\t\t\t  \n                        funcADomoZig();\n\t\t\t  \t\t\t   \n\t\t\t        }else{\n\t\t\t            if (msg.payload[keys[i]].modelo !== \"\")\n\t\t\t            {\n\t\t\t                \t\t\t            funcADomoZig();\n\t\t\t            }\n\t\t\t        }\n\t\t\t        \n\t\t\t        \n\t\t\t\n\t\t    }\n\t\t  return [outputMsgs];\n\t}\n\t\n\t\n\tfunction funcZNLDP12LM(){\n\t    \n\t\t\t    // Para Sensor de Porta\n\t\t\t  if ((msg.payload[keys[i]].acao == 'state') ) \n\t\t\t  {\n        \t\t\t  if (cargarecebida == \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state\":\"On\",\"brightness\":255,\"color_temp\":200, \"rgb\": \"r078,128,000\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state\":\"Off\",\"brightness\":255,\"color_temp\":200, \"rgb\": \"r078,128,000\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida === \"X\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state\":\"TOGGLE\",\"brightness\":255,\"color_temp\":200, \"rgb\": \"r078,128,000\"}'; \n        \t\t\t  }\n        \t\t\t  else \n        \t\t\t  {\n        \t\t\t      \n        \t\t\t      if (valorzigbee_json.hasOwnProperty(\"state\") && valorzigbee_json.hasOwnProperty(\"brightness\") && valorzigbee_json.hasOwnProperty(\"color_temp\"))\n                            {\n                             const state = valorzigbee_json.state.toString();\n                             const brightness = valorzigbee_json.brightness.toString();\n                             const color_temp = valorzigbee_json.color_temp.toString();\n                             \n                             valorzigbee_publicado = '{\"state\": \"' + state + '\",  \"brightness\": ' + (brightness * 2.55) + ', \"color_temp\": ' + (color_temp * 4) + '}';\n                             \n                            }\n\n        \t\t\t  }\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t  const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t  const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t  outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n        \t\t\t  \n        \t\t\t  \n\t\t\t  }\n\t}\n\t\n\t\tfunction funcZWEU02(){\n\t    \n\t\t\t    // Para Sensor de Porta\n\t\t\t  if ((msg.payload[keys[i]].acao == 'state_right') ) \n\t\t\t  {\n        \t\t\t  if (cargarecebida == \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_right\":\"On\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_right\":\"Off\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == 'X')\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_right\":\"TOGGLE\"}'; \n        \t\t\t  }\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t  const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t  const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t  outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n        \t\t\t  \n        \t\t\t  \n\t\t\t  }\n\t\t\t  else if \n\t\t\t  ((msg.payload[keys[i]].acao == 'state_left') ) \n\t\t\t  {\n        \t\t\t  if (cargarecebida == \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_left\":\"On\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_left\":\"Off\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"X\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_left\":\"TOGGLE\"}'; \n        \t\t\t  }\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t  const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t  const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t  outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n        \t\t\t  \n        \t\t\t  \n\t\t\t  }\n\t}\n\t\n\t\t\tfunction funcADomoZig(){\n\n                    const estado = msg.payload[keys[i]].acao;\n        \t\t\t  if (cargarecebida== \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"' + estado + '\":\"On\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"' + estado + '\":\"Off\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"X\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"' + estado + '\":\"TOGGLE\"}'; \n        \t\t\t  }\n\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t // const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t // const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t // outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n\t \n\t}\n","outputs":1,"noerr":0,"x":630,"y":158,"wires":[["639c751b.24adbc"]]},{"id":"16f9a8a9.4a7b87","type":"mqtt in","z":"b0b92433.d70e68","name":"Confirma Iluminação","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":95,"y":26,"wires":[["90b16abb.55bd88"]]},{"id":"b64fac28.3e91c","type":"http request","z":"b0b92433.d70e68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":970,"y":140,"wires":[["de55a751.c7e4e8"]]},{"id":"eed18ae7.b42928","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"if (!msg.payload) {\n\n} else {\nvar keys = Object.keys(msg.payload);\n\nif(keys.length === 0)\n{\n    msg.url =  \"http://nodediverso:8085/api/notificar?notificacao=\" + \"A22\" + \"-\" +  msg.valor + \"-\" + msg.topico;\n    return msg;\n    \n}\nelse\n{\n    //msg.url = \"http://192.168.10.101/topico_mqtt.php?valor=\" + msg.payload + \"&topico=\" + msg.topic; \n    msg.url =  \"http://nodediverso:8085/api/notificar?notificacao=\" + msg.payload[0].id + \"-\" + msg.payload[0].valor + \"-\" + msg.payload[0].setPubTopic0;\n    return msg;\n    \n}\n\n}","outputs":1,"noerr":0,"x":720,"y":60,"wires":[["b64fac28.3e91c","d0f97506.59b538"]]},{"id":"2313b1cd.f785de","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":492,"y":62,"wires":[["eed18ae7.b42928"]]},{"id":"90b16abb.55bd88","type":"function","z":"b0b92433.d70e68","name":"Update RX433mhz","func":"\nif (!msg.payload) {\n  //no results\n} else {\n    \n    msg.valor = msg.payload;\n    msg.topico = msg.topic;\n    \n    if ((msg.topico == '/housezigbee/bridge/log') || (msg.topico == '/housezigbee/bridge/config'))\n{\n   return; \n}\n\n\n\n //  msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"' and `carga` = '0';  SELECT id, codigo, carga, topico, descricao FROM `rx433mhz` WHERE topico_confirma = '\" + msg.topic +  \"' and (\" + time_click + \" - data_ms < 1000);\";\n   msg.topic =  \"SELECT id, '\" + msg.payload + \"' valor, setPubTopic0  FROM `widget` where `widget`.`setPubTopic0` = '\" + msg.topic +  \"'\";\n   return msg;\n\n}\n","outputs":1,"noerr":0,"x":319.1484375,"y":62.16796875,"wires":[["2313b1cd.f785de"]]},{"id":"d363b4c1.af08c8","type":"mqtt in","z":"b0b92433.d70e68","name":"Zigbee","topic":"/housezigbee/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":58,"y":84,"wires":[["90b16abb.55bd88"]]},{"id":"999f21b5.021d","type":"mqtt in","z":"b0b92433.d70e68","name":"NewDevice Habilitar","topic":"/houseconf/nablenewdevice/habilitar","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":90,"y":240,"wires":[["9fc672d9.6196d"]]},{"id":"cb427703.b24bd8","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"\n   \n   msg.url =  \"http://nodediverso:8085/api/notificar?notificacao=\" + \"A22\" + \"-\" +  msg.payload + \"-\" + msg.topic;\n   msg.topic =  \"UPDATE `servidor` SET `adddevicehabilitado` = '\" + msg.payload +\"' WHERE `servidor`.`id` ='1'\";  \n   \n\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["3804d2d6.7b559e","b64fac28.3e91c","d0f97506.59b538"]]},{"id":"3804d2d6.7b559e","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":1280,"y":220,"wires":[[]]},{"id":"9fc672d9.6196d","type":"trigger","z":"b0b92433.d70e68","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"120","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":310,"y":240,"wires":[["cb427703.b24bd8"]]},{"id":"e64d4c83.39314","type":"mqtt in","z":"b0b92433.d70e68","name":"SaveVersion","topic":"/house/device/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":70,"y":360,"wires":[["d6fa535f.0ba9a"]]},{"id":"d6fa535f.0ba9a","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"let inforDevice = msg.payload;\nmsg.inforDevice = msg.payload;\n// [09AA0681679B,192.168.0.174,DC:4F:22:11:8F:0A,c400000000000000,20200920]\ninforDevice = inforDevice.replace(\"[\", \"\");\ninforDevice = inforDevice.replace(\"]\", \"\");\ninforDevice = inforDevice.split(\",\");\nconst pinDevice = inforDevice[0];\nconst ipDevice = inforDevice[1];\nconst macDevice = inforDevice[2];\nconst versionDevice = inforDevice[4];\nconst codigoTipoDevice = inforDevice[5];\nmsg.payload = versionDevice;\n\nconst pin3primeiro = pinDevice.substring(0, 3);\nconst pinresto = pinDevice.substring(4);\n\n//const pincorrigido = \"14A%2956DCCD\";\nconst pincorrigido = pin3primeiro + \"%\" + pinresto;\n\nconst topic = \"UPDATE `widget` SET `setName1` = '\" + ipDevice + \"', `setName2`= '\" + macDevice + \"', `setName3`= '\" + versionDevice + \"'   WHERE REPLACE(`widget`.`username_iphone`, ':', '') LIKE '\" + pincorrigido +\"';\"\nmsg.topic = topic;\nmsg.url = \"http://otahttp.autodomo.com.br/device/\" + codigoTipoDevice  + \".json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["3804d2d6.7b559e","dccb9296.8aaf"]]},{"id":"3c31180.a3691e8","type":"http request","z":"b0b92433.d70e68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":690,"y":360,"wires":[["400a125b.7db24c"]]},{"id":"400a125b.7db24c","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"const versaoatual = JSON.parse(msg.payload);\nlet inforDevice = msg.inforDevice\n// [09AA0681679B,192.168.0.174,DC:4F:22:11:8F:0A,c400000000000000,20200920]\ninforDevice = inforDevice.replace(\"[\", \"\");\ninforDevice = inforDevice.replace(\"]\", \"\");\ninforDevice = inforDevice.split(\",\");\nconst pinDevice = inforDevice[0];\nconst ipDevice = inforDevice[1];\nconst macDevice = inforDevice[2];\nconst versionDevice = inforDevice[4];\nconst codigoTipoDevice = inforDevice[5];\nmsg.payload = versionDevice;\n\n\nconst topic = \"UPDATE `widget` SET `setName1` = '\" + ipDevice + \"', `setName2`= '\" + macDevice + \"', `formatMode`= '\" + versaoatual.versaoatual.toString() + \"', `setName3`= '\" + versionDevice + \"'   WHERE REPLACE(`widget`.`username_iphone`, ':', '') = '\" + pinDevice +\"';\"\nmsg.topic = topic;\nmsg.url = \"http://otahttp.autodomo.com.br/device/\" + codigoTipoDevice  + \".json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":360,"wires":[["a6c08127.c2544"]]},{"id":"dccb9296.8aaf","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":500,"y":360,"wires":[["3c31180.a3691e8"]]},{"id":"a6c08127.c2544","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":1120,"y":360,"wires":[[]]},{"id":"ca6eeacc.d40818","type":"debug","z":"e8b80ae9.697808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":260,"wires":[]},{"id":"77c044c4.18636c","type":"mqtt out","z":"b0b92433.d70e68","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":1070,"y":500,"wires":[]},{"id":"d0f97506.59b538","type":"debug","z":"b0b92433.d70e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1040,"y":60,"wires":[]},{"id":"18b85a1c.f858a6","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"\nvar comando = msg.payload.trim();\nvar numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\n\n\nmsg.md5in = numeroserial + chavedispositivo;\nmsg.comando =  comando;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["ed44f29a.46b5"]]},{"id":"b8e5047d.4134b8","type":"mqtt in","z":"8890c82a.0dfa48","name":"Todos_Topicos_firebase","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":140,"y":60,"wires":[["18b85a1c.f858a6","a93ec716.c5ecd8"]]},{"id":"ed44f29a.46b5","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":510,"y":80,"wires":[["db62311d.ac77f","5344c7b7.a7c268","c05198fd.1f4168"]]},{"id":"db62311d.ac77f","type":"function","z":"8890c82a.0dfa48","name":"Saida Firebase","func":"\nvar d = new Date();\nvar topico = msg.topic;\nvar numeroserial =  global.get(\"pin\");\nvar codigo_dispositivo = \"\";\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar subtopico = \"\";\n\nif (fim_sub_topico == -1)\n{\n    codigo_dispositivo = \"\";\n    return\n}\nelse\n{\n  codigo_dispositivo = topico.substring(fim_sub_topico + 1);\n  msg.codigo_dispositivo = codigo_dispositivo;\n  msg.subtopico = topico.substring(7, fim_sub_topico);\n  if (msg.subtopico ==  \"confirma\")\n  {\n    \n        msg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + codigo_dispositivo + \"/setSubTopic3/\";\n        msg.payload= msg.comando;\n        topic1 = 'UPDATE `widget` SET `setSubTopic3` = \"' + msg.comando + '\" WHERE  REPLACE(widget.username_iphone,\":\",\"\") = \"' + codigo_dispositivo + '\";';\n        topic2 = 'SELECT widget.*, ambiente.Descricao nome_ambiente FROM widget, ambiente WHERE REPLACE (username_iphone, \":\", \"\") = \"' + codigo_dispositivo + '\" and widget.ambiente = ambiente.id;';\n        msg.topic = topic1 + \" \" + topic2;\n        return [ null,   msg,  null, null, null ];\n  }\n  else if (msg.subtopico ==  \"remover\")\n  {\n        msg.payload = {\"md5\" : msg.md5out, \"codigo_dispositivo\" : codigo_dispositivo};\n        return [ null,  null, msg, null, null ];\n  }\n    else if (msg.subtopico ==  \"enablemobile\")\n  {\n        msg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/enableMobile\";\n        let jsonEnable = JSON.parse(msg.comando);\n        jsonEnable.md5 = msg.md5out;\n        jsonEnable.comandomobile = 'enablemobile';\n      //  enablemobile_imei = enablemobile._imei;\n      //  msg.childpath = \"/lais/\" +  msg.md5out + \"/enablemobile/\" + enablemobile_imei + \"/liberacao\" ;\n        msg.payload= jsonEnable;\n        return [ null,  null, null, msg, null ];\n  }\n      else if (msg.subtopico ==  \"selectdevicebymobile\")\n  {\n        msg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/enableMobile\";\n        let selectjsonEnable = JSON.parse(msg.comando);\n        selectjsonEnable.md5 = msg.md5out;\n        selectjsonEnable.comandomobile = 'selectdevicebymobile';\n        msg.payload= selectjsonEnable;\n        return [ null,  null, null, msg, null ];\n  }\n  else\n  {\n    if ((msg.subtopico ==  \"iluminacao\") || (msg.subtopico ==  \"switch\") || (msg.subtopico ==  \"rgb\"))\n    {\n        return;\n    }\n    else if (msg.subtopico ==  \"ifredarc\")\n    {\n        const comandoAr = JSON.parse(msg.payload);\n        msg.payload = comandoAr.device + \"-\" + comandoAr.direction + \"-\" + comandoAr.fan + \"-\" +  comandoAr.mode + \"-\" +  comandoAr.power + \"-\" +  comandoAr.temp;\n        msg.topic = \"/house/confirma/\" + codigo_dispositivo;\n        return [  null,  null, null, null, msg ];\n        \n    }\n        msg.topic = 'SELECT widget.*, ambiente.Descricao nome_ambiente FROM widget, ambiente WHERE REPLACE (username_iphone, \":\", \"\") = \"' + codigo_dispositivo + '\" and widget.ambiente = ambiente.id;';\n        return [  msg,  null,  null, null, null ];\n  }\n\nreturn msg;\n}\n\n\n\n\n\n","outputs":5,"noerr":0,"x":740,"y":260,"wires":[["c3aae7eb.54d3a8"],["e8b332c.44c04d"],["b9792e51.2e6cd"],["adc9a3dc.643bc"],["8d176618.a86be8"]]},{"id":"c3aae7eb.54d3a8","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE1","x":990,"y":180,"wires":[["58883c81.294404"]]},{"id":"58883c81.294404","type":"function","z":"8890c82a.0dfa48","name":"Saida Firebase","func":"//msg.payload[0].setSubTopic2 = msg.comando;\n//msg.payload[0].label2 = msg.md5out;\n//msg.payload = msg.payload[0];\n//msg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\n//msg.url =\"https://us-central1-autodomo-73076.cloudfunctions.net/makeDeviceLais\";\n//return msg;\n\nmsg.payload[0].setSubTopic2 = msg.comando;\nmsg.payload = msg.payload[0];\nmsg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1200,"y":180,"wires":[["53e7dc13.225f14"]]},{"id":"e8b332c.44c04d","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE2","x":990,"y":220,"wires":[["70177aec.ff1ee4","3cc33621.cbdeda"]]},{"id":"fe99eb51.370608","type":"firebase.on","z":"8890c82a.0dfa48","name":"Busca","firebaseconfig":"19342f51.a68f81","childpath":"msg.childpath","atStart":true,"eventType":"value","queries":[],"x":572.5,"y":406,"wires":[["eee2a43d.f12638"]]},{"id":"eee2a43d.f12638","type":"function","z":"8890c82a.0dfa48","name":"Atua Dispositivo","func":"const  { name, imei, emailVerified, topico, IpServidor, comando }  = msg.payload;\nmsg.carga =  msg.payload;\nmsg.topic = `SELECT usuario.habilitado FROM usuario WHERE imei = '${imei}'`;\nvar numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\nmsg.md5in = numeroserial + chavedispositivo;\nreturn msg;","outputs":1,"noerr":0,"x":726.5,"y":406,"wires":[["6e70bc12.14e5a4"]]},{"id":"7bc0c2d7.fb4aac","type":"firebase.on","z":"8890c82a.0dfa48","name":"Busca","firebaseconfig":"19342f51.a68f81","childpath":"msg.childpath","atStart":true,"eventType":"child_changed","queries":[],"x":573.5,"y":633,"wires":[["c2a96caf.53d82"]]},{"id":"c2a96caf.53d82","type":"function","z":"8890c82a.0dfa48","name":"GetMobile","func":"const  { name, email,  emailVerified, imei, uid, casa, token }  = msg.payload;\nconst queryget = `SELECT id FROM usuario WHERE imei = '${imei}'`;\nconst queryinst = `INSERT INTO usuario (id, email, administrador, imei, token, fone, data_criacao, ultimo_Acesso, habilitado, notificacao, somente_local, CASA) VALUES (NULL, '${email}', '0', '${imei}', '${token}', '', now(), now(), '0', '1', '0', '${casa}')`;\nconst queryupdate = `UPDATE usuario SET email = '${email}', fone = '', casa = '${casa}', token = '${token}'   WHERE imei = '${imei}';`;\nmsg.topic = queryget;\nmsg.queryinst = queryinst;\nmsg.queryupdate = queryupdate;\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":633,"wires":[["303b2513.7574aa"]]},{"id":"303b2513.7574aa","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE3","x":904.5,"y":633,"wires":[["5921bd58.0df994"]]},{"id":"5921bd58.0df994","type":"function","z":"8890c82a.0dfa48","name":"GetMobile2","func":"\nif (!(msg.payload.length  == 0))\n{\nmsg.topic = msg.queryupdate; \nreturn msg \n}\nelse\n{\nmsg.topic = msg.queryinst; \nreturn msg   \n}","outputs":1,"noerr":0,"x":1085,"y":633,"wires":[["283ef683.2075ba","e3b36c75.51c69"]]},{"id":"283ef683.2075ba","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE4","x":1249.5,"y":562,"wires":[[]]},{"id":"5beb2e56.8cced","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE5","x":1046,"y":407,"wires":[["dae6c952.8b6a28","8502482d.c72c68","7f03b6a6.2adb58"]]},{"id":"dae6c952.8b6a28","type":"function","z":"8890c82a.0dfa48","name":"Atua Dispositivo2","func":"const  {  emailVerified, topico,  comando }  = msg.carga;\n\nif (!msg.payload[0])\n{\n    return;\n}\nconst   habilitado = msg.payload[0].habilitado;\n\nif (habilitado == 1)\n{\nmsg.topic = topico; \nmsg.payload =  comando;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1249,"y":365,"wires":[["8d176618.a86be8"]]},{"id":"8d176618.a86be8","type":"mqtt out","z":"8890c82a.0dfa48","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":1430,"y":340,"wires":[]},{"id":"af1e25f2.302498","type":"mqtt out","z":"8890c82a.0dfa48","name":"","topic":"","qos":"","retain":"false","broker":"8b47545.6bac3a8","x":1150,"y":60,"wires":[]},{"id":"a93ec716.c5ecd8","type":"function","z":"8890c82a.0dfa48","name":"Dispositivo padrao Fake e add","func":"if (msg.topic == \"/house/iluminacao/01AA99999999\")\n{\n    msg.topic = \"/house/confirma/01AA99999999\";\n    if (msg.payload == \"1\")\n    {\n        msg.payload = \"On\";\n    }\n    else{\n        msg.payload = \"Off\" ; \n    }\n    return msg; \n}\nelse if (msg.topic == \"/house/iluminacao/01AA99999999\")\n{\n    msg.topic = \"/house/confirma/01AA99999999\";\n    if (msg.payload == \"1\")\n    {\n        msg.payload = \"On\";\n    }\n    else{\n        msg.payload = \"Off\" ; \n    }\n    return msg; \n}\n// else if (msg.topic == \"/house/incluir/device\")\n// {\n//     // topico =  msg.payload;\n//     // msg.topic = topico;\n//     // msg.payload = \"aaa\";\n//     // return msg; \n//     msg.topic = 'SELECT widget.*, ambiente.Descricao nome_ambiente FROM widget, ambiente WHERE REPLACE (username_iphone, \":\", \"\") = \"' + msg.payload + '\" and widget.ambiente = ambiente.id;';\n//     return msg;\n// }\n","outputs":1,"noerr":0,"x":890,"y":42,"wires":[["af1e25f2.302498"]]},{"id":"70177aec.ff1ee4","type":"function","z":"8890c82a.0dfa48","name":"Saida Firebase","func":"//msg.payload[1][0].label2 = msg.md5out;\n//msg.payload = msg.payload[1][0];\n//msg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\n//const url =\"https://us-central1-autodomo-73076.cloudfunctions.net/makeDeviceLais\";\n//msg.url = url;\n//return msg;\n\nmsg.payload = msg.payload[1][0];\nmsg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":1260,"y":240,"wires":[["53e7dc13.225f14","3cc33621.cbdeda"]]},{"id":"e3b36c75.51c69","type":"debug","z":"8890c82a.0dfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1219,"y":707,"wires":[]},{"id":"8502482d.c72c68","type":"function","z":"8890c82a.0dfa48","name":"Salva Historico","func":"const  { name, imei, emailVerified, topico, IpServidor, comando }  = msg.carga;\n\nif (!msg.payload[0])\n{\n    return;\n}\n\nconst   habilitado = msg.payload[0].habilitado;\nvar d = new Date();\nvar timestamp = d.getTime();\n\nlet historico = {\n  name,\n  imei,\n  topico,\n  comando,\n  habilitado,\n  timestamp,\n  md5 : msg.md5out,\n  \n};\n\nmsg.payload=historico;\nmsg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/salvarHistorico\";\nlet msg1 = Object.assign({}, msg);\n\nmsg1.payload=historico;\nmsg1.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/salvarHistoricoGeral\";\n\n return [  msg,  msg1  ];\n\n\n\n\n","outputs":2,"noerr":0,"x":1300,"y":460,"wires":[["adc9a3dc.643bc"],["adc9a3dc.643bc"]]},{"id":"6e70bc12.14e5a4","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":881,"y":406,"wires":[["5beb2e56.8cced"]]},{"id":"6bda7e3c.d6fd6","type":"inject","z":"8890c82a.0dfa48","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"70","x":150,"y":380,"wires":[["b8e399db.c5b3a8"]]},{"id":"b8e399db.c5b3a8","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"var numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\n\nmsg.md5in = numeroserial + chavedispositivo;\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":500,"wires":[["f6aa884b.2f61a8"]]},{"id":"f6aa884b.2f61a8","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":290,"y":500,"wires":[["7e938862.36ea48"]]},{"id":"7e938862.36ea48","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"\nconst md5 = msg.md5out;\nmsg.childpath = \"/lais/\" +  md5 + \"/publica\";\n\nvar msg1 = Object.assign({}, msg);\n\nmsg1.childpath = \"/lais/\" +  md5 + \"/mobile\";\n\nreturn [ msg,   msg1];","outputs":2,"noerr":0,"x":430,"y":500,"wires":[["fe99eb51.370608"],["7bc0c2d7.fb4aac"]]},{"id":"5344c7b7.a7c268","type":"function","z":"8890c82a.0dfa48","name":"Historico Lais","func":"let d = new Date();\nlet timestamp = d.getTime();\nlet topico = msg.topic;\nlet numeroserial =  global.get(\"pin\");\nlet codigo_dispositivo = \"\";\nlet fim_sub_topico = topico.indexOf(\"/\" , 9); \nlet subtopico = \"\";\nlet comando = msg.comando;\n\n  codigo_dispositivo = topico.substring(fim_sub_topico + 1);\n  msg.codigo_dispositivo = codigo_dispositivo;\n  msg.subtopico = topico.substring(7, fim_sub_topico);\n       carga = {\n           codigo_dispositivo,\n           numeroserial,\n           timestamp,\n           value: comando,\n           fim_sub_topico,\n           subtopico: msg.subtopico,\n           md5: msg.md5out\n       }\n       msg.payload = carga;\n       msg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/salvarHistoricoPorTipo\";\n       return msg;\n\n","outputs":1,"noerr":0,"x":1120,"y":120,"wires":[["adc9a3dc.643bc"]]},{"id":"7f03b6a6.2adb58","type":"function","z":"8890c82a.0dfa48","name":"Apaga Publica","func":"if (!msg.payload[0])\n{\n    return;\n}\n\nconst   habilitado = msg.payload[0].habilitado;\n\n\nif (habilitado == 1)\n{\nmsg.payload = {\nIpServidor:  \"192.168.10.101\",\naleatorio: \"1979\",\ncomando: \"0\",\nemail: \"invalido@autodomo.com.br\",\nemailVerified: false,\nimei: \"0000000\",\ntopico:  \"/house/invalido/050519791200\",\nmd5: msg.md5out\n};\n//msg.childpath = \"/lais/\" +  msg.md5out + \"/publica\";\n//msg.payload = JSON.stringify(publicaapagado); \nmsg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/atuaDeviceLais\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1240,"y":300,"wires":[["adc9a3dc.643bc"]]},{"id":"3cc33621.cbdeda","type":"debug","z":"8890c82a.0dfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1610,"y":500,"wires":[]},{"id":"adc9a3dc.643bc","type":"www-request","z":"8890c82a.0dfa48","name":"","method":"POST","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1710,"y":280,"wires":[[]]},{"id":"b9792e51.2e6cd","type":"www-request","z":"8890c82a.0dfa48","name":"","method":"POST","ret":"txt","url":"https://us-central1-autodomo-73076.cloudfunctions.net/removerDevice","follow-redirects":true,"persistent-http":true,"tls":"","x":1730,"y":360,"wires":[[]]},{"id":"8bd92d3f.477c5","type":"debug","z":"8890c82a.0dfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"md5out","targetType":"msg","x":1750,"y":60,"wires":[]},{"id":"9539614f.9dbd4","type":"inject","z":"8890c82a.0dfa48","name":"Vivo","topic":"payload","payload":"[{\"id\":0},[{\"id\":19,\"id_ligado\":0,\"Descricao\":\"Lâmpada Aguiar 1\",\"username_iphone\":\"vivo\",\"pin_iphone\":\"453-83-172\",\"ordem\":105,\"tipo\":1,\"tipo_geral\":14,\"ambiente\":9,\"dispositivo_fisico\":1,\"proprietario\":1,\"setName0\":\"Lâmpada Aguiar 1\",\"setName1\":\"\",\"setName2\":\"\",\"setName3\":\"\",\"setSubTopic0\":\"/house/switch/14AA00000004\",\"setSubTopic1\":\"\",\"setSubTopic2\":\"\",\"setSubTopic3\":\"On\",\"setPubTopic0\":\"/house/switch/14AA00000004\",\"publishValue\":\"1\",\"publishValue2\":\"0\",\"label\":\"\",\"label2\":\"ae08f2ab2d99a2c2b861f3d2ed679a5f\",\"additionalValue\":\"\",\"additionalValue2\":\"\",\"additionalValue3\":\"\",\"setPrimaryColor0\":0,\"setPrimaryColor1\":0,\"setPrimaryColor2\":0,\"setPrimaryColor3\":0,\"retained\":1,\"decimalMode\":0,\"mode\":2,\"onShowExecute\":\"\",\"onReceiveExecute\":\"\",\"formatMode\":\"\",\"habilitado\":1,\"convidado\":0,\"device_id_kappelt\":18096,\"type_kappelt\":\"Outlet\",\"traits_type_kappelt\":\"OnOff\",\"requiresActionTopic_kappelt\":1,\"requiresStatusTopic_kappelt\":1,\"nome_ambiente\":\"Sala Aguiar\"}]]","payloadType":"json","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":40,"wires":[["c27a77b9.71eeb8"]]},{"id":"c27a77b9.71eeb8","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"var numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\n\n\nmsg.md5in = numeroserial + chavedispositivo;\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":40,"wires":[["98a6a5a0.328b48"]]},{"id":"98a6a5a0.328b48","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":1570,"y":40,"wires":[["8bd92d3f.477c5"]]},{"id":"53e7dc13.225f14","type":"firebase modify","z":"8890c82a.0dfa48","name":"AutoDomoFireBase_Set","firebaseconfig":"19342f51.a68f81","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1640,"y":220,"wires":[[]]},{"id":"edd9d24d.43c31","type":"debug","z":"8890c82a.0dfa48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":640,"y":340,"wires":[]},{"id":"c05198fd.1f4168","type":"function","z":"8890c82a.0dfa48","name":"Trigger","func":"const topico = msg.topic;\nconst carga  = msg.payload;\nconst fim_sub_topico = topico.indexOf(\"/\" , 9); \n\nconst subtopico = topico.substring(7, fim_sub_topico);\n\nif(subtopico == \"confirma\"){\n    return;\n}\n\nconst url = \"https://us-central1-autodomo-73076.cloudfunctions.net/execRotinaTrigger\";\nconst body = {\n    \"DeviceTriggerRotina\": topico , \n    \"comandoDeviceTriggerRotina\" : carga,\n    \"_md5_\" : msg.md5out\n    \n};\n    \nmsg.url = url;\n//msg.payload = JSON.stringify(body);\nmsg.payload = body;\nmsg.method = \"POST\";\n//https://us-central1-autodomo-73076.cloudfunctions.net/execRotinaTriggermsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["c3b839dc.9d12f8"]]},{"id":"c3b839dc.9d12f8","type":"www-request","z":"8890c82a.0dfa48","name":"Triger FireBAse","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":false,"tls":"","x":420,"y":160,"wires":[["6ed5a3bc.d00c4c"]]},{"id":"7372b2e1.c2b14c","type":"www-request","z":"8890c82a.0dfa48","name":"Triger FireBAse","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":false,"tls":"","x":480,"y":280,"wires":[["edd9d24d.43c31"]]},{"id":"6ed5a3bc.d00c4c","type":"function","z":"8890c82a.0dfa48","name":"Trigger","func":"if(msg.statusCode == 500){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["7372b2e1.c2b14c"]]},{"id":"de55a751.c7e4e8","type":"debug","z":"b0b92433.d70e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":120,"wires":[]},{"id":"e494d361.d052e","type":"mqtt in","z":"b0b92433.d70e68","name":"MQTTDelay_Entrada","topic":"/delay/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":130,"y":500,"wires":[["c08f47f4.dbcde8"]]},{"id":"c08f47f4.dbcde8","type":"function","z":"b0b92433.d70e68","name":"MQTTDelay_Function","func":"// /delay/3600/house/ilumincacao/01AA00000001\n\nconst delay = msg.topic.substring(7, 11);\nconst topico = msg.topic.substring(11);\n\nmsg.delay = Number(delay) * 1000;\nmsg.topic = topico;\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["b4bf5921.94ffb8"]]},{"id":"b4bf5921.94ffb8","type":"delay","z":"b0b92433.d70e68","name":"MQTTDelay","pauseType":"delayv","timeout":"1750","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":500,"wires":[["77c044c4.18636c"]]},{"id":"a78dadf5.6c7b2","type":"debug","z":"537ac06c.7221e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"6f22c782.095be8","type":"debug","z":"fa125156.f17d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"cargarecebida","targetType":"msg","x":850,"y":320,"wires":[]},{"id":"9f42cf75.16072","type":"debug","z":"fa125156.f17d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":240,"wires":[]},{"id":"2f5bdc6a.ea1d14","type":"debug","z":"1a910664.f749aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":100,"wires":[]},{"id":"d8be48c0.6e4728","type":"debug","z":"5878e260.04cb9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"fimCarga","targetType":"msg","x":510,"y":100,"wires":[]},{"id":"323d5f07.5196c","type":"mqtt in","z":"827f49e3.691098","name":"Mqtt Entrada","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":170,"y":160,"wires":[["fb858c3.bfaae7"]]},{"id":"fb858c3.bfaae7","type":"function","z":"827f49e3.691098","name":"Tratar_Topicos_To_Tago","func":"const topico = msg.topic\nconst carga = msg.payload\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar semi_topico = topico.substring(7, fim_sub_topico);\nvar pinDevice = topico.substring(fim_sub_topico + 1); \nconst tipoDevice = pinDevice.substring(0, 2);\n\nif (semi_topico == \"sinal\"){\n            const pinDeviceCorrigido = pinDevice + \"_dbm\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"dBm\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n}else if (tipoDevice == \"01\"){\n    if (semi_topico == \"iluminacao\"){\n        if ((carga.substr(0, 1) == \"R\")){\n            return;\n        }\n            const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"confirma\"){\n            const pinDeviceCorrigido = pinDevice + \"_Status\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"smartinterruptor\"){\n           const pinDeviceCorrigido = pinDevice + \"_Secao\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }\n}else if (tipoDevice == \"02\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"%\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"03\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"04\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"Lux\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"05\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"06\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"%\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"07\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"Psi\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"08\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"m\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"09\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"12\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"W\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"13\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"14\"){\n    if (semi_topico == \"switch\"){\n        if ((carga.substr(0, 1) == \"R\")){\n            return;\n        }\n            const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"confirma\"){\n            const pinDeviceCorrigido = pinDevice + \"_Status\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"smartinterruptor\"){\n           const pinDeviceCorrigido = pinDevice + \"_Secao\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }\n}else if (tipoDevice == \"15\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"16\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"17\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"18\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"19\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"20\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"21\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"22\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"24\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"03\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["5ce28102.98702"]]},{"id":"5ce28102.98702","type":"mqtt out","z":"827f49e3.691098","name":"Tago","topic":"tago/data/post","qos":"","retain":"","broker":"ed9e6cbc.e10e7","x":650,"y":160,"wires":[]},{"id":"407fdd0b.a09a34","type":"mqtt in","z":"3f53997e.aba106","name":"MQTT MASH","topic":"/adomo/meshp/admPub","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":250,"y":180,"wires":[["31a396a2.f93caa"]]},{"id":"5e72fac2.7f0864","type":"debug","z":"3f53997e.aba106","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":180,"wires":[]},{"id":"31a396a2.f93caa","type":"function","z":"3f53997e.aba106","name":"MESH_TO_LAIS","func":"const topico = msg.topic\nconst carga = msg.payload\n\nmsg.carga = carga;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["18cc80e3.80f08f"]]},{"id":"18cc80e3.80f08f","type":"json","z":"3f53997e.aba106","name":"","property":"payload","action":"","pretty":false,"x":650,"y":180,"wires":[["c2f866e4.caa308","e139cc4e.31a4"]]},{"id":"c2f866e4.caa308","type":"function","z":"3f53997e.aba106","name":"Trata Payload","func":"const topico = msg.topic\nconst cargajson = msg.payload\n\n\nconst tipo = cargajson.t;\n\n\n\nif(tipo == \"sw\" ){\n    \n    const id = cargajson.id;\n    const value = cargajson.v;\n    const status = cargajson.s;\n\n    if((value == \"1\") || (value == \"14\")){\n        msg.topic = \"/house/confirma/\" + id;\n        msg.payload = status;\n        return msg;\n    }\n\n\n    \n}\n\nif(tipo == \"st\" ){\n    \n    const id = cargajson.id;\n    const status = cargajson.s;\n    const tipodispositivo = parseInt(id.substring(0,2));\n\n    if(tipodispositivo == 1){\n        msg.topic = \"/house/confirma/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 2){\n        msg.topic = \"/house/umidade/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 3){\n        msg.topic = \"/house/temp/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 4){\n        msg.topic = \"/house/lux/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 5){\n        msg.topic = \"/house/confirma/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 6){\n        msg.topic = \"/house/umidade/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 7){\n        msg.topic = \"/house/pressao/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 8){\n        msg.topic = \"/house/altitude/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 9){\n        msg.topic = \"/house/confirma/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 10){\n        msg.topic = \"/house/ifredarc/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 11){\n        msg.topic = \"/house/ifredtvc/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 12){\n        msg.topic = \"/house/power/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 13){\n        msg.topic = \"/house/motion/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 14){\n        msg.topic = \"/house/confirma/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 17){\n        msg.topic = \"/house/door/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 18){\n        msg.topic = \"/house/dust/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 20){\n        msg.topic = \"/house/garage/\" + id;\n        msg.payload = status;\n        return msg;\n    }else if(tipodispositivo == 21){\n        msg.topic = \"/house/confirma/\" + id;\n        msg.payload = status;\n        return msg;\n    }\n    \n    \n    \n\n    \n}\n","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["5e72fac2.7f0864","2b5e3713.d5fb38"]]},{"id":"2b5e3713.d5fb38","type":"mqtt out","z":"3f53997e.aba106","name":"","topic":"","qos":"","retain":"false","broker":"8b47545.6bac3a8","x":1100,"y":120,"wires":[]},{"id":"bf0f78b7.af5198","type":"mqtt in","z":"3f53997e.aba106","name":"MQTT MASH","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":190,"y":480,"wires":[["9bcaaaf7.ced568"]]},{"id":"9bcaaaf7.ced568","type":"function","z":"3f53997e.aba106","name":"LAIS_TO_MESH","func":"\nconst topico = msg.topic;\nconst carga = msg.payload;\nconst fim_sub_topico = topico.indexOf(\"/\" , 9); \nconst codigo = topico.substring(fim_sub_topico + 1); \nconst sub_topico = topico.substring(7,fim_sub_topico); \nconst tipodispositivo = parseInt(codigo.substring(0,2));\n\n\n\n\n\nif((tipodispositivo == 1) || (tipodispositivo == 5) || (tipodispositivo == 14) || (tipodispositivo == 22) || (tipodispositivo == 28) || (tipodispositivo == 20) || (tipodispositivo == 21) || (tipodispositivo == 9)){\n    \n    msg.confirma = sub_topico;\n    if(sub_topico == \"confirma\") return;\n    msg.payload = \"{\\\"t\\\":\\\"rl\\\",\\\"id\\\":\\\"\" + codigo + \"\\\",\\\"v\\\":\\\"\"+ carga + \"\\\"}\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["3f096a9d.ed9d06","c1635de2.3e5ba"]]},{"id":"c1635de2.3e5ba","type":"debug","z":"3f53997e.aba106","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":640,"wires":[]},{"id":"3f096a9d.ed9d06","type":"mqtt out","z":"3f53997e.aba106","name":"","topic":"/adomo/meshs/admPub","qos":"","retain":"false","broker":"8b47545.6bac3a8","x":890,"y":420,"wires":[]},{"id":"e139cc4e.31a4","type":"function","z":"3f53997e.aba106","name":"Tratar Comando bs","func":"//{\"t\":\"bs\", \"c\":\"ss\",\"mac\":\"8c:4b:14:ad:13:38\",\"macf\":\"8c:4b:14:ad:13:38\",\"rss1\":\"-39\",\"hw\":\"SW_ILU\",\"nome\":\"Iluflex 1\",\"qt\":\"3\"}\nconst cargajson = msg.payload\nconst tipo = cargajson.t;\nvar outputMsgs = [];\n\n\nif(tipo != \"bs\" ) return null;\n\n\nconst subtipo = cargajson.c;\n\nif(subtipo == \"ss\" ) {\n    \n    const mac = cargajson.mac;\n    const nome = cargajson.nome;\n    const qt = parseInt(cargajson.qt);\n    const tipo_device = parseInt(cargajson.td);\n\n    \n    \n    for (let i=0; i<qt; i++)  {\n        \n        codeid = mac.substring(5);\n        switch_code = (\"00\" + tipo_device).substr(-2)+ \":\" + (\"00\" + i).substr(-2) + codeid;\n        \n         const topic = \"SELECT id FROM widget WHERE username_iphone = '\"+ switch_code +\"'\";\n         \n        // outputMsgs.push({payload:i,topic:i+1});\n         outputMsgs.push({topic:topic, id:i, nome:nome, code:switch_code, tipo_device:tipo_device})\n\t    \n\t   // MSG.TOPIC = \"SELECT id FROM widget WHERE REPLACE (username_iphone, ':', '\"+ +\"') = '01AA99999999'\"\n\t\n    }\n    \n   return [outputMsgs];\n\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["3a4f8e0a.2f6552"]]},{"id":"6cf89180.96dd4","type":"debug","z":"3f53997e.aba106","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1380,"y":380,"wires":[]},{"id":"3a4f8e0a.2f6552","type":"mysql","z":"3f53997e.aba106","mydb":"e2f44265.69a06","name":"autohome","x":1060,"y":300,"wires":[["7735b47f.b26d2c"]]},{"id":"7735b47f.b26d2c","type":"function","z":"3f53997e.aba106","name":"Insert Novo Device","func":"payload = msg.payload;\n\nconst len = payload.length;\n\n\nif(len == 0){\n    \n    topico_pub = \"\"\n    \n    \n    nome = msg.nome;\n    id = msg.id;\n    code = msg.code;\n    tipo_device = msg.tipo_device;\n    \n    if(tipo_device == 1){\n        topico_pub = \"/house/iluminacao/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 2){\n        topico_pub = \"/house/umidade/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 3){\n        topico_pub = \"/house/temp/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 4){\n        topico_pub = \"/house/lux/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 5){\n        topico_pub = \"/house/rgb/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 6){\n        topico_pub = \"/house/umidade/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 7){\n        topico_pub = \"/house/pressao/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 8){\n        topico_pub = \"/house/altitude/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 9){\n        topico_pub = \"/house/persiana/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 10){\n        topico_pub = \"/house/ifredarc/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 11){\n        topico_pub = \"/house/ifredtvc/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 12){\n        topico_pub = \"/house/power/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 13){\n        topico_pub = \"/house/motion/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 14){\n        topico_pub = \"/house/ifredarc/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 15){\n        topico_pub = \"/house/agrupamento/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 17){\n        topico_pub = \"/house/ifredarc/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 18){\n        topico_pub = \"/house/dust/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }else if(tipo_device == 19){\n        topico_pub = \"/house/garage/\" + code.replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\").replace(\":\", \"\");\n    }\n    \n    \n    \n    \n    \n    \n    pin_iphone = (\"000\" + Math.random()).substr(-3) + \"-\" + (\"000\" + Math.random()).substr(-2)  + \"-\" + (\"000\" + Math.random()).substr(-3);\n    msg.topic = \"INSERT INTO `autohome`.`widget` (`id`, `id_ligado`, `Descricao`,     `username_iphone`,    `pin_iphone`,    `ordem`,   `tipo`,     `tipo_geral`,    `ambiente`,    `dispositivo_fisico`,    `proprietario`,    `setName0`, `setName1`, `setName2`, `setName3`, `setSubTopic0`, `setSubTopic1`, `setSubTopic2`, `setSubTopic3`, `setPubTopic0`,    `publishValue`,   `publishValue2`,   `label`, `label2`,   `additionalValue`,   `additionalValue2`, `additionalValue3`,     `setPrimaryColor0`, `setPrimaryColor1`, `setPrimaryColor2`, `setPrimaryColor3`, `retained`,    `decimalMode`,    `mode`,   `onShowExecute`, `onReceiveExecute`, `formatMode`,    `habilitado`,   `convidado`) VALUES (NULL,   '0',      '\"+ nome + \"_\" + id  +\"', '\"+  code +\"', '\" + pin_iphone + \"', '\"+ id +\"', '1', '\"+ tipo_device +\"', '1', '1', '1', '\"+ nome + \"_\" + id  +\"',   '',         '',         '',    '\"+ topico_pub +\"',      '',             '',             '',    '\"+ topico_pub +\"', '1', '0',    '',      '',    '', '',         '',         '',         '0',               '0',               '0',        '1',       '0',        '0',        '',                 '',              '',     '1', '0');\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":300,"wires":[["6cf89180.96dd4","bb0f43a2.d9be8"]]},{"id":"bb0f43a2.d9be8","type":"mysql","z":"3f53997e.aba106","mydb":"e2f44265.69a06","name":"autohome","x":1560,"y":300,"wires":[[]]},{"id":"c2de4969.75b208","type":"function","z":"161b75ee.b22baa","name":"Publicar Switch Mesh","func":"\nconst topico = msg.topic;\nconst codigo = topico.substring(19);\nconst carga = msg.payload;\n\nmsg.payload = \"{\\\"t\\\":\\\"sw\\\",\\\"id\\\":\\\"\"+ codigo +\"\\\",\\\"v\\\":\\\"1\\\",\\\"s\\\":\\\"\" + carga +\"\\\"}\";\nmsg.topic = \"/adomo/meshs/admPub\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["b57afc9e.7588a","a17d9ef.6cced6"]]},{"id":"b57afc9e.7588a","type":"debug","z":"161b75ee.b22baa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":280,"wires":[]},{"type":"tab","label":"Gbridge","id":"1a12526.c8edbae","info":"Conexão com o Gbridge Google Home","z":"1a12526.c8edbae"},{"id":"e211fb00.489647","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico1","func":"if(msg.topic == \"/house/iluminacao/0100e211fb00\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":100,"wires":[["e211fb00.89647a"]]},{"id":"e211fb00.161257","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico2","func":"if(msg.topic == \"/house/iluminacao/0101e211fb00\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":150,"wires":[["e211fb00.61257a"]]},{"id":"e211fb00.522418","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico3","func":"if(msg.topic == \"/house/iluminacao/0102e211fb00\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["e211fb00.22418a"]]},{"id":"e211acdc.037299","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico9","func":"if(msg.topic == \"/house/iluminacao/0100e211acdc\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":250,"wires":[["e211acdc.37299a"]]},{"id":"e211acdc.613665","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico11","func":"if(msg.topic == \"/house/iluminacao/0101e211acdc\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["e211acdc.13665a"]]},{"id":"e211acdc.231543","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico13","func":"if(msg.topic == \"/house/iluminacao/0102e211acdc\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":350,"wires":[["e211acdc.31543a"]]},{"id":"b7ced3b1.761788","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico15","func":"if(msg.topic == \"/house/agrupamento/15AAB7CED3B1\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["b7ced3b1.61788a"]]},{"id":"e211fb00.89647a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Lustre Goumet","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Area Gourmet","name":"Lustre Goumet","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/0100e211fb00","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":100,"wires":[["e7e77ad0.97d118"]]},{"id":"e211fb00.61257a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Pia Gourmet","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Area Gourmet","name":"Pia Gourmet","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/0101e211fb00","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":150,"wires":[["e7e77ad0.97d118"]]},{"id":"e211fb00.22418a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Goumet","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Area Gourmet","name":"Luz Goumet","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/0102e211fb00","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":200,"wires":[["e7e77ad0.97d118"]]},{"id":"e211acdc.37299a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Iluminação Muro","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Area Gourmet","name":"Iluminação Muro","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/0100e211acdc","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":250,"wires":[["e7e77ad0.97d118"]]},{"id":"e211acdc.13665a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Barril","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Area Gourmet","name":"Luz Barril","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/0101e211acdc","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":300,"wires":[["e7e77ad0.97d118"]]},{"id":"e211acdc.31543a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Desconhecido Goumet","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Area Gourmet","name":"Desconhecido Goumet","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/0102e211acdc","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":350,"wires":[["e7e77ad0.97d118"]]},{"id":"b7ced3b1.61788a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Toda a Casa","roomhint":"Sala","name":"Toda a Casa","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/agrupamento/15AAB7CED3B1","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":400,"wires":[["e7e77ad0.97d118"]]},{"id":"d3c8442d.b94d08","type":"nora-config","z":"1a12526.c8edbae","name":"AutoDomoToken","group":"","notify":false},{"id":"885ddb14.2547f8","type":"function","z":"1a12526.c8edbae","name":"Tratar GoogleHome","func":"const topico = msg.topic\nconst carga = msg.payload\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar semi_topico = topico.substring(7, fim_sub_topico);\nvar pinDevice = topico.substring(fim_sub_topico + 1); \nconst tipoDevice = pinDevice.substring(0, 2);\n\n\n\nif(semi_topico != \"confirma\"){\n    return;\n}\n\nelse if (tipoDevice == \"01\"){\n    \n    msg.topic = \"/house/iluminacao/\" + pinDevice;\n    \n    if(carga == \"On\" || carga == \"on\" || carga == \"1\"){\n        msg.payload = \"1\";\n    }else if (carga == \"Off\" || carga == \"off\" || carga == \"0\"){\n        msg.payload = \"0\";\n    }\n    \n    return msg;\n}\n\nelse if (tipoDevice == \"14\"){\n    \n    msg.topic = \"/house/switch/\" + pinDevice;\n    \n    if(carga == \"On\" || carga == \"on\" || carga == \"1\"){\n        msg.payload = \"1\";\n    }else if (carga == \"Off\" || carga == \"off\" || carga == \"0\"){\n        msg.payload = \"0\";\n    }\n    \n    return msg;\n}\n\nelse if (tipoDevice == \"09\"){\n    \n    const cargaCorrigida = {\"openPercent\": msg.payload}\n    msg.topic = \"/house/persiana/\" + pinDevice;\n    msg.payload  = cargaCorrigida\n    \n    return msg;\n}else if (tipoDevice == \"20\"){\n    \n    msg.topic = \"/house/garage/\" + pinDevice;\n\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":225,"wires":[["e211fb00.489647","e211fb00.161257","e211fb00.522418","e211acdc.037299","e211acdc.613665","e211acdc.231543","b7ced3b1.761788"]]},{"id":"fdff8d15.86e92","type":"mqtt in","z":"1a12526.c8edbae","name":"Mqtt Entrada","topic":"/house/confirma/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":130,"y":225,"wires":[["885ddb14.2547f8"]]},{"id":"e7e77ad0.97d118","type":"mqtt out","z":"1a12526.c8edbae","name":"Mqtt Saida 2","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":2200,"y":225,"wires":[]}]